* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/*
1.Từ ngoài vào trong
2.Tù trên xuống dưới
3.Tổng quan chi tiết
/*
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng
*/
#main {

}

.text-white{
    color: #fff;
}
#header {
    height: 50px;
    background-color: black;
    position: fixed;
    top : 0;
    right: 0;
    left: 0;
    z-index: 1;

}

#nav > li {
    display: inline-block;
}
#nav li{
    
    position: relative;

}
#nav{
    display: inline-block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;

}

#nav li a{
    text-decoration: none;
    line-height: 50px;
    padding: 0px 24px;
    display: block;
}
#nav .subnave li:hover a,
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
}
#nav li:hover .subnave{
    display:block;
}

#nav ,.subnave {
    list-style-type: none;

}

#nav .subnave{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px ;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnave a{
    color:white;
    line-height: 38px;
} 

#nav .nav-arrow-down{
    font-size: 13px;
    line-height: 50px;
}
#header .search-icon{
    color: #fff;
    font-size: 18px;
    line-height: 52px;
   

}

#header .search-btn{
    float: right;
    padding: 0px 21px;
}

#header .search-btn:hover{
    background-color: rgb(26, 184, 184);
    box-shadow: 0 0 10px rgb(193, 182, 182);
}

#slider {
    position: relative;
    margin-top: 50px;
    padding-top: 50%;
    background: url('/assets/img/Slider1/chicago.jpg') top center / cover no-repeat;

}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 48px;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description{
    margin-top: 25px;

}
.clear{
    clear: both;
}

#content {

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .section-heading{
    margin: 10px 0px;
    font:30px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 500;
}

#content .section-sub-heading{
    font: 15px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 15px 0px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    text-align: justify; 
    font: 15px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

#content .member-item{
    float:left ;
    width: 33.3333%;
    text-align: center;


}

#content .member-list{
    margin-top: 48px;
    overflow: hidden;
}

#content .member-name{
    font-size: 15px; 
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

.tour-section{
    background-color: black;
}

.ticket-list{
    background-color: #fff;
    margin-top: 38px;
}

.ticket-list li{
    font-size: 16px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd; 
    color: #757575;
    list-style-type: none;

}

.ticket-list .sold-out{
    background-color: red;
    margin: 0px 0px 0px 16px;
    padding: 0px 8px;
    color: #fff;

}

.ticket-list .quantity{
    float: right;
    color: #fff;
    background-color: #000;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;



}

/*places*/
.places-list{
    margin: 32px -7px 0 -7px;
    padding-bottom: 48px;

}

.places-item{
    float: left;
    width: 33.3333%;
    padding: 0px 7px;

}

.places-img{
    width: 100%;
    display: block;

}

.places-img:hover{
    opacity: 0.6;
}

.places-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    

}

.places-heading{
    font-size: 15px;
    font-weight: 550;


}

.places-sub-heading{
    margin-top: 15px;
}

.places-desc{
    margin-top: 15px;
    
}

.places-buy-btn{
    color:#fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    
}

.places-buy-btn:hover{
    opacity: 0.6;
    background-color: #757575;
}



#footer {

}

.modal {
    position: fixed;
    top : 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-container {
    background:#fff;
    width: 900px;
    max-width: (100%-32px);
    min-height: 200px;
    position: relative;
}

.modal-close:hover {
    opacity: 1;

}

.modal-close {
    position: absolute;
    right:0px;
    top: 0;
    color:#fff;
    padding:12px;
    cursor: pointer;
    opacity: 0.8;
    
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    font-size: 15px;
    display: block;
    margin-bottom: 12px;
}

.modal-input{
    border: 0,5px solid #ece7e7;
    width: 100%;
    font-size: 15px;
    padding: 10px ;
    margin-bottom: 20px;
}

#buy-tiskets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: none;
    padding: 18px;
    cursor: pointer;
}

.modal-footer {
    margin: 10px  0px 25px 20px;
}

.modal-help {
    right: 0;
    text-align: right;
}

